@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .block-showcase-preview {
    @apply outline-1 outline-primary-600/30 transition-all duration-300 hover:outline;
  }

  .text-h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  .text-h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  .text-h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  .text-h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .text-paragraph {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .text-list {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  .text-lead {
    @apply text-xl text-muted-foreground;
  }

  .text-large {
    @apply text-lg font-semibold;
  }

  .text-small {
    @apply text-sm font-medium leading-none;
  }

  .text-muted {
    @apply text-sm text-muted-foreground;
  }
}

@layer components {
  @media (min-width: 1024px) {
    .grid-block {
      grid-template-columns: repeat(var(--grid-columns-desktop), minmax(0, 1fr));
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .grid-block {
      grid-template-columns: repeat(var(--grid-columns-tablet), minmax(0, 1fr));
    }
  }

  @media (max-width: 768px) {
    .grid-block {
      grid-template-columns: repeat(var(--grid-columns-mobile), minmax(0, 1fr));
    }
  }
}
